html, body, div, ul, li {
  margin: 0;
  padding: 0;
}

#container {
  position: relative;
}

.player, .enemy, .bullet {
  position: absolute;
  transform: translate(-50%, -50%);
}

.player {
  background-color: blue;
}

.enemy {
  background-color: red;
}

.bullet {
  background-color: yellow;
}
